h1 {
  margin: 5px;
}
.btn-agregar{
  display: flex;
}

.div-tabla{
  padding-top: 20px;
}

.tabla {
	padding-top: 80px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.css-button-3d--yellow {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ffe566;
  box-shadow: 0 5px #ffd819;
}

.css-button-3d--yellow:hover {
  box-shadow: 0 3px #ffd819;
  top: 1px;
}

.css-button-3d--yellow:active {
  box-shadow: 0 0 #ffd819;
  top: 5px;
}

.css-button-3d--red {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ef233c;
  box-shadow: 0 5px #d90429;
}

.css-button-3d--red:hover {
  box-shadow: 0 3px #d90429;
  top: 1px;
}

.css-button-3d--red:active {
  box-shadow: 0 0 #d90429;
  top: 5px;
}

.css-button-3d--sky {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3a86ff;
  box-shadow: 0 5px #4433ff;
}
.css-button-3d--sky:hover {
  box-shadow: 0 3px #4433ff;
  top: 1px;
}
.css-button-3d--sky:active {
  box-shadow: 0 0 #4433ff;
  top: 5px;
}